body {
  background-color: #1f2937;
}
.header {
  display: flex;
  flex-direction: row;
}
ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 25px;
}
a {
  color: white;
  text-align: center;
  text-decoration: none;
}
.resize {
  margin-left: 20px;
  object-fit: cover;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.mid {
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex-basis: 400px;
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.content p {
  font-size: 18px;
  color: #e5e7eb;
}

.b {
  display: flex;
  justify-content: center;
  background-color: #3882f6;
  color: #fff;
  font-size: 18px;
  width: 30%;
  border-radius: 8px;
}

.size {
  object-fit: cover;
  width: 600px;
  height: 300px;
}

.c {
  padding: 10px;
}
.container h2 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #1f2937;
}
.container {
  background-color: white;
}

.container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.container-info img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid red;
  border-radius: 8%;
}

.bottom {
  background-color: #e5e7eb;
  overflow: hidden;
}

.title p {
  display: flex;
  font: italic;
  color: #1f2937;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}
.title b {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 20px;
  padding-right: 20px;
}

.white {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.blue {
  background-color: blue;
  display: flex;
  margin: 50px 200px;
  padding: 10px 80px;
  align-items: center;
  border-radius: 8px;
}
.lol {
  align-items: flex-start;
}
.blue h2 {
  color: white;
  margin: 20px 0px 0px 30px;
}

.blue p {
  color: white;
  margin: 5px 30px 30px 30px;
}
.move {
  width: 300px;
  margin: 30px 0px 30px 300px;
}
.blue button {
  color: #fff;
  font-family: "Roboto", arial;
  border-color: #fff;
  border-radius: 8px;
  background-color: #3882f6;
  padding: 5px 25px;
  font-size: 15px;
}
